* {
    padding: 0;
    list-style: none;
}

header {
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

body {
    font-size: 30px;
}

header nav {
    text-align: right;
}

section.Concepto {
    text-align: center;
}

header li {
    display: inline;
}

div {
    justify-content: center;
}

div.gallery {
    width: 180px;
    height: 180px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

section.CARTA {
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    text-align: center;
}

nav {
    justify-content: space-around;
}

ul {
    list-style: none;
}

a {
    color: white;
}

.Blog {
    text-align: center;
}